* {
    font-family: '微軟正黑體', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-weight: 400;
    list-style-type: none;
    box-sizing: border-box;
    color: #5A5A5A;
    letter-spacing: 1px
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
b,
small {
    margin: 0;
    padding: 0;
    line-height: normal;
}

img {
    max-width: 100%;
    width: 100%;
    display: block
}

a {
    text-decoration: none;
    cursor: pointer;
}
.sec01{
    border-top: solid 10px #8e5e34
}
.sec01 img{
    animation: fadein 1.8s ease;
}

@keyframes fadein {
  from {
    opacity: 0
  }
  to {
opacity: 1
  }
}
.sec01 .item {
    height: 0px;
    padding-bottom: 75%;
}

.sec01 #banner1 {
    background: url(../img/slider1.jpg) center center no-repeat;
    background-size: cover;
}

.sec01 #banner2 {
    background: url(../img/slider2.jpg) center center no-repeat;
    background-size: cover;
}
.sec01 #banner3 {
    background: url(../img/slider3.jpg) center center no-repeat;
    background-size: cover;
}
.sec01 #banner4 {
    background: url(../img/slider4.jpg) center center no-repeat;
    background-size: cover;
}
.sec01 #banner5 {
    background: url(../img/slider5.jpg) center center no-repeat;
    background-size: cover;
}
#banner .owl-dots {
    position: absolute;
    bottom: 10px;
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 100%;
}

#banner .owl-dot {
    height: 12px;
    width: 12px;
    border-radius: 7px;
    display: inline-block;
    margin: 0px 10px;
    position: relative;
    background-color: #c27948;
}

#banner .owl-dot.active {
    background-color: #FFFFFF;
    border: solid 1px #4F726C;
}

#banner .owl-prev,
#banner .owl-next {
    display: block;
    background: url('../img/next.png')center no-repeat;
    background-size: cover;
    position: absolute;
    height: 42px;
    width: 20px;
    bottom: 39%;
    right: 10px
}

#banner .owl-prev {
    left: 10px;
    transform: scaleX(-1);
}
.sec02{
    background: url(../img/button.jpg)no-repeat;
    background-size: cover;
    width: 100%
}
.sec02 a{
    padding-top: 29%;
    width: 20%;
    float: left;
    cursor: pointer
}
.sec02:after{
    content: "";
    clear: both;
    display: block
}
.sec04{
    background: url(../img/section4bg.jpg) no-repeat;
    background-size: cover;
}
#sec5-3-1{
    position: absolute;
    top: 7.5%;
    width: 50%
}
#sec5-3-2{
    position: absolute;
    top: 23.5%;
    width: 50%;
    right: 0
}
#sec5-3-3{
    position: absolute;
    top: 41%;
    width: 54%;
    left: 0
}
#sec5-3-4{
    position: absolute;
    top: 56.5%;
    width: 50%;
    right: 0
}
#sec5-3-5{
    position: absolute;
    top: 71.5%;
    width: 60%;
    left: 0
}

#sec5-3-6{
    position: absolute;
    top: 89%;
    width: 50%;
    right: 0
}